@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Hide "Saved to Library!" bookmark confirmation popup */
#confirmation-hint { display: none !important; }

/* Remove sync in hamburger menu */
#appMenu-fxa-container, #appMenu-fxa-container + toolbarseparator {
  display: none !important;
}

/* Remove send-to-device context menu items */
#context-sendpagetodevice, #context-sep-sendpagetodevice,
#context-sendlinktodevice, #context-sep-sendlinktodevice,
#context_sendTabToDevice, #context_sendTabToDevice_separator {
  display: none !important;
}

/* Remove 3-dot button on the right end of the urlbar */
#pageActionButton {
  display: none !important;
}

/* Remove sidebar header (non-themeable) */
#sidebar-header {
  display: none;
}

/* Hide tab bar */
#alltabs-button {
  display: none !important;
}

#tabbrowser-tabs {
  visibility: collapse !important;
}

/* Make the toolbar extra-compact (applies to Compact density) */
:root[uidensity=compact] #urlbar,
:root[uidensity=compact] .searchbar-textbox {
  font-size: unset !important;
  min-height: 24px !important;
}

:root[uidensity=compact] #identity-box {
  max-height: 22px;
}

:root[uidensity=compact] #nav-bar .toolbarbutton-1 {
  padding: 0px !important;
}
